@model IEnumerable<InventoryManagmentSystem.Models.Product.Product>

<h2>Products</h2>
<p>
    <a class="btn btn-primary" asp-action="Create">Add New Product</a>
</p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>CategoryId</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price.ToString("C")</td>
            <td>@product.CategoryId</td>
            <td>@product.Quantity</td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>